$font-color: #eee;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #111;
$background-alternative-color: #e0fbfc;
$title-color: $background-color;
$footer-text-color: $font-color;
$nav-toggle-color: $font-color;
$tech-box-border-color: #ddd;
$tech-box-text-color: #fff;
$tech-box-text-outline-color: #000;
$code-border-color: #555;
$code-background-color: #333;

$link-color: scale-color(#ff6400, $lightness: +20%);
$link-visited-color: scale-color($link-color, $saturation: -50%);

@import 'style';

@mixin darken {
    filter: brightness(.75) contrast(1.1);
}

.logo img {
    @include darken;
}

.tech-box {
    position: relative;

    a:link,
    a:visited {
        position: relative;
    }
}

.tech-box::before {
    @include darken;
    content: "";
    background: inherit;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.main {
    //background-color: #ff0;
    //background-color: purple;
}
