@import 'variables';

.main.technology-page {
    display: grid;
    grid-template-columns: max-content 1fr;
    //background: red;
    //max-width: none;

    main.content {
        grid-row: 1;
        grid-column: 2;
    }
}

.technology-page-sidebar {
    padding: 2rem 2rem 0 0;
    grid-row: 1;
    grid-column: 1;

    ul, li {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
    }

    a:link, a:visited {
        color: #111;
    }
}

@media (max-width: $small-device-width) {
    .technology-page-sidebar {
        display: none;
    }
}
