@import 'variables';

.technologies-page {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: max-content;
    grid-gap: 1rem;
    margin-bottom: 2rem;

    h1 {
        grid-column: span 3;
    }

    .tech-box {
        font-size: xx-large;
        line-height: 1.5em;
    }

    .tech-box a:link,
    .tech-box a:visited {
        padding: 0.5rem;

        display: flex;
        flex-direction: column;

        text-decoration: none;
        color: $tech-box-border-color;
        border: 1px solid $tech-box-border-color;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .tech-box a span {
        border-bottom: 1px solid $tech-box-text-outline-color;
        color: $tech-box-text-color;
        text-shadow: 3px 3px 2px $tech-box-text-outline-color, -1px -1px 0 $tech-box-text-outline-color, 1px -1px 0 $tech-box-text-outline-color, -1px 1px 0 $tech-box-text-outline-color, 1px 1px 0 $tech-box-text-outline-color;
    }

    .tech-box-css {
        background: $tech-color-css;
    }

    .tech-box-html {
        background: $tech-color-html;
        grid-column: span 2;
    }

    .tech-box-js {
        background: $tech-color-js;
        grid-column: span 2;
    }

    .tech-box-php {
        background: $tech-color-php;
    }

    .tech-box-python {
        background: $tech-color-python;
        grid-column: span 3;
    }

    .tech-box-git {
        background: $tech-color-git;
    }

    .tech-box-sqlite {
        background: $tech-color-sqlite;
        grid-column: span 2;
    }
}

@media (max-width: $small-device-width) {
    .technologies-page {
        grid-template-columns: 1fr;

        .tech-box,
        h1 {
            grid-column: 1 !important;
        }
    }
}
