$base-color1: #FF7F00 !default;
$base-color2: #0088B3 !default;

$font-color: #333 !default;
$font-alternative-color: #fff !default;
$accent-color: #ee6c4d !default;
$background-color: #fff !default;
$background-alternative-color: #e0fbfc !default;
$title-color: #fff !default;
$footer-text-color: #222 !default;
$nav-toggle-color: #333 !default;
$tech-box-border-color: #000 !default;
$tech-box-text-color: #fff !default;
$tech-box-text-outline-color: #000 !default;
$code-border-color: #ccc !default;
$code-background-color: #f5f5f5 !default;

$tech-color-css: scale-color($base-color1, $lightness: +10%) !default;
$tech-color-html: scale-color($base-color2, $lightness: +20%) !default;
$tech-color-js: scale-color($base-color1, $lightness: +10%) !default;
$tech-color-php: scale-color($base-color2, $lightness: +20%) !default;
$tech-color-python: scale-color($base-color1, $lightness: +10%) !default;
$tech-color-git: scale-color($base-color1, $lightness: +10%) !default;
$tech-color-sqlite: scale-color($base-color2, $lightness: +20%) !default;

$link-color: $base-color2;
$link-visited-color: scale-color($link-color, $saturation: -50%) !default;

$small-device-width: 767px;
